.hover-div {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.hover-div:hover .hover-text {
	display: block;
}

.hover-text {
	display: none;
	clear: both;
	margin: 5px;
	color: white;
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 2;
}


.hover-edit {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.hover-edit:hover .hover-edit-tools {
	display: block;        
}

.hover-edit-tools {
	display: none;
	clear: both;
	margin-right: 5px;
	text-align: right;
	color: white;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 2;
}

.hover-blok:hover .hover-blok-item {
	visibility: visible;
}

.hover-blok-item {
	visibility: hidden;
}


.modal.modal-large {
	margin-left: -450px;
	width: 900px;
}

.media-list h4 {
	margin-top: 5px;
}

.popover {
	min-width: 200px;
}

.weekcalendar td:nth-child(odd), .weekcalendar th:nth-child(odd) {
	background-color: #eceff5;
}

/* calendar */
table.calendar {
	width: 100%;
}

.calendar tr:nth-child(odd) td:nth-child(odd).calendar-day, .calendar tr:nth-child(even) td:nth-child(even).calendar-day {
	background-color: #eceff5;
}

.calendar td, .calendar th {
/* 	border: 1px solid #999; */
}
td.calendar-day {
	min-height: 80px;
	font-size: 11px;
	position: relative;
}
div.calendar-day {
	height: 80px;
}
td.calendar-day:hover {
/* 	background: #eceff5 !important; */
}
td.calendar-day-np {
	background: #ffffff;
	min-height: 80px;
}
div.calendar-day-np {
	height: 80px;
}
.calendar th {
	background: #ffffff;
	font-weight: bold;
	text-align: center;
	width: 120px;
	padding: 5px;
}
.calendar thead {
	border-bottom: 1px solid #DDDDDD;
}
div.day-number {
	background: #0088CC;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	float: right;
	margin: -5px -5px 0 0;
	width: 20px;
	text-align: center;
}
/* shared */
td.calendar-day, td.calendar-day-np {
	width: 120px;
	padding: 5px;
}

.agenda-aanwezigen-geen {
	color: #B94A48;
}
.agenda-aanwezigen-weinig {
	color: #C09853;
}
.agenda-aanwezigen-genoeg {
	color: #468847;
}
.agenda-aanwezigen-veel {
	color: #468847;
}

.calendar form, .weekcalendar form {
	margin: 0px;
}
.calendar .btn-link {
	font-size: 11px;
	color: #0088CC;
	line-height: 15px;
}
.weekcalendar .btn-link {
/* 	font-size: 11px; */
	color: #2972A3;
	line-height: 15px;
}
.btn-link {
	padding: 0px !important;
}
.popup {
	cursor: pointer;
}

#grafiek {
	width: 100%;
	height: 200px;
}

.vogel-alert * {
	color: red !important;
}

h3 a {
	color: #333333 !important;
}

.media-table .media {
	width: 290px;
	height: 70px;
	float: left;
}

.media-table + * {
	clear: both;
	padding-top: 15px;
}

.media-table .media:first-child {
	margin-top: 15px;
}

form {
	margin: 0px !important;
}

#header {
	height: 64px;
}

#header h1 {
	color: #800000;
	margin: 5px;
	font-size: 38px;
}

@media (min-width: 768px) and (max-width: 979px) { /* smaller pc / tablet screens, make sure that the header fits */
	#header {
		height: 64px;
	}
	
	#header h1 {
		font-size: 28px !important;
	}
}

@media (min-width: 481px) and (max-width: 767px) { /* large landscape phones and tablets */
	#header {
		height: 48px;
	}
	
	#header h1 {
		font-size: 18px !important;
	}
	
	#header h1 img {
		width: 24px;
		height: 24px;
	}
	
	h1 {
		font-size: 24px !important;
		line-height: 30px !important;
	}
	h2 {
		font-size: 20px !important;
		line-height: 30px !important;
	}
	h3 {
		font-size: 18px !important;
		line-height: 20px !important;
	}
	h4 {
		font-size: 16px !important;
		line-height: 20px !important;
	}
}

@media (max-width: 480px) { /* smaller (portrait) phones */
	#header {
		height: 32px;
	}
	
	#header h1 {
		font-size: 12px !important;
		line-height: 20px !important;
	}
	
	#header h1 img {
		width: 16px;
		height: 16px;
	}
	
	h1 {
		font-size: 20px !important;
		line-height: 20px !important;
	}
	h2 {
		font-size: 18px !important;
		line-height: 20px !important;
	}
	h3 {
		font-size: 16px !important;
		line-height: 20px !important;
	}
	h4 {
		font-size: 16px !important;
		line-height: 20px !important;
	}
}


.dl-horizontal dt {
	width: 200px !important;
}

.dl-horizontal dd {
    margin-left: 220px !important;
}

a.btn {
	color: #333333 !important;
}

.user-logged-in {
	color: #B94A48 !important;
}

.agenda-disabled {
	font-style: italic;
	color: #999999;
}

td.agenda-evenement {
	background: #F2DEDE !important;
}
div.day-number.agenda-evenement {
	background: #B94A48 !important;
}
.nonactief {
	text-decoration: line-through;
}

.nav-tabs .marked > a {
	background: #F2DEDE;
}